#externProfile{
    padding-left: 1em;
}

.publicaciones{
    padding: 3em;
}

h1{
    text-align: center;
}

h2{
    font-size: 2em;
}

#redes{
    color: rgb(133, 39, 39);;
}

#externProfile p{
    font-size: 1.5em;
}