@import url("./styles/navBar.css");
@import url("./styles/forms.css");
@import url("./styles/externProfile.css");
@import url("./styles/findUsers.css");
@import url("./styles/estadisticas.css");
@import url("./styles/idSpo.css");
@import url("./styles/dataSpo.css");

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.estiloBase{
  	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
  	color: black;
}

.estiloBase main {
	max-width: 50%;
	padding: 1.5em;
	margin: 1.5em;
	font-size: 2em;
}

.estiloBase main p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}

.estiloBase .boton{
  background-color: rgb(133, 39, 39);
}

.boton{
	background-color: rgb(133, 39, 39);
}

.estiloBase aside {
	margin-top: 3em;
}

.estiloBase img {
	max-width: 100%;
  	height: auto;
}

#aboutFS{
	text-align: center;
	align-items: center;
	padding: 0.3em;
	color: black;
}

#aboutFS .boton{
	background-color: rgb(133, 39, 39);
}

#aboutFS main h1{
	font-size: 4em;
}
  
#aboutFS main h2 {
	margin-left: 0.7em;
	text-align: left;
	font-size: 3em;
}

#aboutFS main p {
	margin-left: 1em;
	text-align: left;
	font-size: 1em;
}

#profile{
	align-items: center;
	padding: 0.3em;
	color: black;
}

audio{
	width: 100%;
}

#profile main h1{
	text-align: center;
	font-size: 3em;
}

#profile .boton{
	background-color: rgb(133, 39, 39);
}

footer{
  text-align: center;
}

#commentCard{
	background-color: rgb(233, 233, 233);
}

#commentCardRes{
	background-color: rgb(192, 192, 192);
}
