@import url("./styles/navBar.css");
@import url("./styles/forms.css");

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home{
  display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
  color: black;
}

#home main {
	max-width: 50%;
	padding: 1.5em;
	margin: 1.5em;
	font-size: 2em;
}

#home main p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}

#home .boton{
  background-color: rgb(133, 39, 39);
}

#home aside {
	margin-top: 3em;
}

footer{
  text-align: center;
}
